.navigation {

flex-direction: column;
justify-content: center;
align-items: center;
}
#navbar ul{
    margin: 16px;

   
}

#navbar ul li {
    font-size: 0.8rem;
    list-style: none;
}
#navbar ul li a {
    padding: 0px 0px;
    margin: 0px 5px;
}
#logo{
    margin: 13px 45px;
}
#home{
    height: 409px;
}

#home::before {
    height: 550px;
}
#home p {
    font-size: 0.7rem;
}
.h1-primary {
    font-size: 1rem;
}

/*Services Section*/
#services {
    flex-direction: column;
}

.h-primary {
    font-size: 1rem;
}

/*Client Section*/

.client-block{
    flex-wrap: wrap;
}

.client-block img{
    height: 56px;
   
}

#client1 {
    top: 12px;
}
#client-details::before {
    height: 139px;
}


#contact-us
{
    margin: 18px 0px;
}